.version-indicator-container {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    gap: 10px;
}

.apk-download {
    display: flex;

    align-items: center;
    justify-content: center;
    
    height: 70px;
    width: 250px;

    text-decoration: none;

    background-color: lime;
    color: green;

    border-radius: 10px;

    &.isDisable {
        cursor: not-allowed;
        pointer-events: none;

        background-color: gray;
        color: black;
    }
}