@{
    ViewData["Title"] = "Changelog";
    ViewData["StyleFile"] = "~/css/changelog.css";
}

<div class="page-container">
    <div class="titleSubTitle">
        <h1>
            Changelog page : 
        </h1>
        <div class="horizontal-line"></div>

    </div>

    <lu>
        0.0.0 Wait : The long time to wait the project
    </lu>
</div>