@{
    ViewData["Title"] = "Changelog";
    ViewData["StyleFile"] = "~/css/changelog.css";
}

<div class="page-container">
    <div class="titleSubTitle">
        <h1>
            Changelog page : 
        </h1>
        <div class="horizontal-line"></div>

    </div>
</div>