@{
    ViewData["Title"] = "Download";
    ViewData["StyleFile"] = "~/css/download.css";
}

<div class="page-container">
    <a href="javascript:void(0)" class="apk-download isDisable">Download APK</a>
    <div class="version-indicator-container">
        <p>
            Version : 
        </p>
        <p>
            0 - 0 - 0 - 0
        </p>
    </div>
</div>