@{
    ViewData["Title"] = "Download";
    ViewData["StyleFile"] = "~/css/download.css";
}

<div class="page-container">
    <a href=@ViewData["urlDownload"] class="apk-download">Download APK</a>
    <div class="version-indicator-container">
        <p>
            Version : 
        </p>
        <p>
            @ViewData["stringVersion"]
        </p>
    </div>
</div>