@{
    ViewData["Title"] = "Home Page";
    ViewData["StyleFile"] = "~/css/index.css";
}

<div class="page-container">
    <div class="titleSubTitle">
        <h1>
            BookScan
        </h1>
        <div class="horizontal-line"></div>
        <p>
            BookScan est une application qui permet de scanner vos livres et de visualiser la composition complète de votre bibliothèque.
        </p>
    </div>

    <div class="support-container">
        <p>Android support :</p>
        <img class="android-img" src="~/svg/android.svg" />
    </div>
</div>