.page-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.android-img {
    height: 45px;
    width: 45px;

    filter: brightness(0) invert(1);
}

.support-container {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    gap: 10px;
}