@font-face {
    font-family: "Candy Beans";
    src: url("/font/Candy Beans.otf");
}

body {
    background-color: #121a17;
    color: #f1fcfd;

    font-size: 21.5px;
    font-family: "Candy Beans";

    height: 100vh;

    margin: 0;
    padding: 0;
}

header {
    background-color: #1d2925;

    height: 70px;
    width: calc(100% - 40px);

    border-bottom: #b7cdcf;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    display: flex;

    flex-direction: row;
    align-items: center;

    padding-left: 20px;
    padding-right: 20px;



    .left-part {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: flex-start;

        width: 500px;

        h1 {
            padding: 0;
            margin: 0;
        }
    }

    .right-part {
        width: 500px;
    }

    .center-part {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        gap: 10px;

        a {
            color: #f1fcfd;
            text-decoration: none;

            transition: color 1s;
            transition: transform 1s;

            transform: translateY(0px);
            
            padding: 0;
            margin: 0;

            &:hover {
                color: #a4f4ff;
                transform: translateY(-2px);
            }

            &.selected {
                color: #ffa4a4;
            }
        }
    }

    @media (max-width: 780px) {
        flex-direction: column;

        height: 120px;

        .left-part {
            display: flex;
            flex-direction: row;

            align-items: center;
            justify-content: center;

            width: 100%;

            h1 {
                padding: 0;
                margin: 0;
            }
        }

        .right-part {
            width: 100%;
        }
    }
}

main {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: calc(100% - 71px);
}

.vertical-line {
    display: flex;

    background-color: #f1fcfd;

    height: 40%;
    width: 2px;

    border-radius: 10px;
}

.horizontal-line {
    display: flex;

    background-color: #f1fcfd;

    height: 2px;
    width: 60%;

    border-radius: 10px;
}